.vscode
/Modulo01/.vscode
/Modulo01/node_modules
/ListasdeExercicios/Lista01/node_modules
/ListasdeExercicios/Lista02/node_modules
\ListasdeExercicios\Lista02\node_modules
/unit04/lesson01/reactApp/node_modules
