footer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 5rem 0 0 0;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

#linkRodape {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: 1rem;
}

.a {
    color: rgba(255, 255, 255, 0.8);
}

div>.a {
    text-decoration: underline;
}

#select {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    width: 9rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

#language {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0.5rem;
}

#imagem {
    padding-left: 0.3rem;
    width: auto;
    height: 1.2rem;
}